//colors
$beige: #d0c5b6;
$fc-dark: #000000;
$fc-light: #ffffff;
$footer: #333333;
$background-dark: #f8f8f8;
$sub-footer: #303030;
$text: #808080;
//overlay for images
$overlay: rgba(0, 0, 0, 0.5);
$overlay-beige:rgba(208, 197, 182, 0.8);
// padding navigation
$padding-nav: 20px 5px;
//font size and line height
$font-size-logo: 33px;
$font-size-xs: 12px;
$font-size-default: 14px;
$font-size-small: 18px;
$font-size-button: 25px;
$font-size-medium: 30px;
$font-size-big: 40px;
$font-size-huge: 60px;
$line-height-huge: 2em;
$line-height-big: 1.5em;
$line-height-small: 1.3em;